<div class="p-4">
	<h2>Custom Pipe</h2>

	<div class="form-group">
		<select class="custom-select" [(ngModel)]="order">
    <option value="title">Title</option>
    <option value="value">Value</option>
    <option value="digit">Digit</option>
  </select>
	</div>
	<div class="form-group">
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" [(ngModel)]="reverse" id="reverse" />
			<label class="custom-control-label" for="reverse">reverse?</label>
		</div>
	</div>

	<h4>Object Items</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Value</th>
				<th>Digit</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let item of items | orderBy : order : reverse">
				<td>{{item.title}}</td>
				<td>{{item.value}}</td>
				<td>{{item.digit}}</td>
			</tr>
		</tbody>
	</table>

</div>
